.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
.padding {
  padding: 20px;
}

/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
.margin {
  margin: 30px;
}

  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {
  border: 5px solid black;
}

.super-mario {
  width: 100px;
  left: 25px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 75px;
  top: 250px;
  left: 125px;
  position: absolute;
  z-index: 2;
}

.baloon {
  width: 165px;
  top: 80px;
  left: 265px;
  position: absolute;
  z-index: 4;
}

.speach {
  top: 98px;
  left: 270px;
  font-size: 15px;
  position: absolute;
  z-index: 5;
}

.bowser {
  width: 220px;
  top: 100px;
  left: 400px;
  position: absolute;
  z-index: 3;
}